<div data-turbo="false">
  <% @user_choice.choice %>
  <% if @user_choice.choice.correct %>
    <%= audio_tag("correct.mp3", autoplay: true) %>
  <% else %>
    <%= audio_tag("incorrect.mp3", autoplay: true) %>
  <% end %>
  <% @choices.each do |choice| %>
    <% if choice.correct %>
      <p class="correct answers-card"><%= choice.content %></p>
    <% elsif choice == @user_choice.choice  %>
      <p class="incorrect answers-card"><%= choice.content %></p>
    <% else %>
      <p class="answers-card other-answers"><%= choice.content %></p>
    <% end %>
  <% end %>
  <% if !current_user.unanswered_questions.to_a.pop.nil? %>
    <%= link_to "Next Question", question_path(current_user.next_question), class: "btn-next"%>
  <% else %>
    <p>You completed all the questions today!</p>
    <p>Your Score was <%= current_user.score_today %>/10</p>
    <p>You used <%= 3 - current_user.lifeline_count %> lifelines</p>
    <p>Thanks for playing! See you tomorrow!</p>
  <% end %>
  <div class="questions-return d-flex justify-content-space-between">
    <%= link_to "Home", root_path(@current_user), class: "return-btn" %>
    <%= link_to "Profile", user_path(current_user), class: "profile-return-btn" %>
  </div>
</div>
