<div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar" style="width: <%= @answered_today * 10 %>%"> <%= @answered_today %> </div>
</div>

<div class="cards-question">

  <div class="card-question">
    <h4><%= @question.prompt %></h4>
  </div>

  <% if params[:query] == "ask-the-players" %>
    <%= bar_chart(@ask_the_players, colors: ["#112847", "#F0D8B2"]) %>
  <% end %>

  <div data-controller="correct-answers" class="card-answers">
    <div data-correct-answers-target="answers" data-controller="highlight-answers"
    class="card-answers"></div>
    <div data-correct-answers-target="answersdiv">

        <% if params[:query] == "50-50" %>
          <%= simple_form_for(@user_choice,
            data: {correct_answers_target: "form",
            action: "submit->correct-answers#send"}) do |f| %>
            <%= f.input :choice_id,
            collection: [@answers[0].content,
            @answers[1].content],
            as: :radio_buttons %>
              <%= f.submit 'Confirm Answer', id: 'confirm-button' %>
          <% end %>

      <% else %>
        <%= simple_form_for(@user_choice,
              data: {correct_answers_target: "form",
            action: "submit->correct-answers#send"}) do |f| %>
          <%= f.input :choice_id,
            collection: [@choices[0].content,
              @choices[1].content,
              @choices[2].content,
              @choices[3].content],
              as: :radio_buttons %>
          <div class="buttons-question">
            <div class="dropdown">
              <button class="dropdown-toggle lifeline-btn" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-heart-pulse"></i>
              </button>
              <ul class="dropdown-menu">
                <% if current_user.lifeline_count > 0 %>
                  <li><%= link_to "50/50", question_path(@question, :query => "50-50"), class: "dropdown-item" %></li>
                  <li><a class="dropdown-item" href="#">Ask a friend</a></li>
                  <% unless @ask_the_players.empty? %>
                    <li><%= link_to "Ask The Players", question_path(@question, :query => "ask-the-players"), class: "dropdown-item" %></li>
                  <% end %>
                <% else %>
                  <li><a class="dropdown-item" href="#">Sorry, you dont have enough tokens!!!</a></li>
                <% end %>
              </ul>
            </div>
            <%= f.submit 'Confirm Answer' %>
          </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
