<%= form_with url: users_path, method: :get, class: "d-flex mt-2" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a friend"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<% if @users.empty? %>
  <p>Search for a friend</p>
<% else %>
  <% @users.each do |user| %>
    <div data-controller="add-friendship">
      <ul>
        <h3><%= user.username %></h3>
        <%# if user is part of @friends then show checkmark, otherwise show add friend %>
        <%= simple_form_for([user, @friendship],
                  data: {
                    add_friendship_target: "form",
                      action: "submit->add-friendship#send"
                    }) do |f|
                    %>
        <%= f.submit "Add Friend" %>
      <% end %>
      <div data-add-friendship-target="result">
      </div>
    </ul>
  </div>
<% end %>
<% end %>
<% @pending_friendships.each do |friendship|  %>
  <%= friendship.asker.username %>
  <%= link_to "accept", friendship_path(friendship), data: {turbo_method: :patch}%>

<%= link_to "Delete",
  friendship_path(friendship),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<% end %>
