<%= form_with url: users_path, method: :get, class: "d-flex mt-2" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a friend"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
 <% if @users.empty? %>
          <p>Search for a friend</p>
        <% else %>
          <div data-controller="add-friendship">
            <ul>
              <% @users.each do |user| %>
                <h3><%= user.username %></h3>

                <%= simple_form_for([user, @friendship],
                  data: {
                    add_friendship_target: "form",
                      action: "submit->add-friendship#send"
                    }) do |f|
                    %>
                  <%= f.submit "Add Friend" %>
                <% end %>

                <div data-add-friendship-target="result">
                </div>
                <%# link_to "Add #{user.username}", user_friendships_path(user), data: { "turbo-method": :post, add_friendship_target: "form", action: "submit->add-friendship#send" }   %>
                <%# on btn click make post request to /users/user_id/friendships %>
              <% end %>
            </ul>
          </div>
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="users">
        <h4>Friends List</h4>
        <% if @friend.empty? %>
          <p>No users found.</p>
        <% else %>
          <ul>
            <% @friend.each do | friend| %>
              <h3><%=  frienduse.name %></h3>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
