<div class="friend-request-header">
  <%= form_with url: users_path, method: :get, class: "d-flex mt-2" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a friend"
  %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
<% if @users.empty? %>
  <br>
<% else %>
  <% @users.each do |user| %>
    <div data-controller="add-friendship">
      <%# if user is part of @friends then show checkmark, otherwise show add friend %>
      <%= simple_form_for([user, @friendship],
                  data: {
                    add_friendship_target: "form",
                        action: "submit->add-friendship#send"
                    }) do |f| %>
        <div class= "add-friend">
          <% if user.photo.attached? %>
            <%= cl_image_tag user.photo.key, class:"avatar-leaderboard" %>
          <% else %>
            <%= image_tag("https://res.cloudinary.com/dvvbk1j65/image/upload/v1679233516/download_riwhuo.png", class:"avatar-leaderboard") %>
          <% end %>
          <h3><%= user.username %></h3>
          <%= f.submit "Add" %>
        <% end %>
      </div>
      <div data-add-friendship-target="result">
      </div>
    </div>
  <% end %>
<% end %>
<br>
<div class="friend-request-header">
  <h3>Friend Requests</h3>
</div>
  <% @pending_friendships.each do |friendship|  %>
    <div class="friend-request">
      <% if friendship.asker.photo.attached? %>
        <%= cl_image_tag friendship.asker.photo.key, class:"avatar-leaderboard" %>
      <% else %>
        <%= image_tag("https://res.cloudinary.com/dvvbk1j65/image/upload/v1679233516/download_riwhuo.png", class:"avatar-leaderboard") %>
      <% end %>
      <h4><%= friendship.asker.username %></h4>
      <%= link_to friendship_path(friendship), data: {turbo_method: :patch}, class: "accept-btn" do %>
        <i class="fa-solid fa-check"></i>
      <% end %>
      <%= link_to friendship_path(friendship), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},class:"delete-btn" do %>
        <i class="fa-solid fa-xmark"></i>
    <% end %>
    </div>
  <br>
</div>
<% end %>
