<div class="home">
  <p><i class="fa-solid fa-house"></i></p>
</div>

<div class="container">
  <div class="profile-game">
    <%= image_tag "mickey.jpg", class:"avatar-profile" %>
    <div class="triv-results">
      <h5>Trivia Results</h5>
      <p><%= @score %>/10</p>
    </div>
  </div>

  <div class="profile-stats">
    <h1>Stats</h1>
    <div class="profile-stat">
      <h1>Questions Answered</h1>
      <h3><%= @total_a%></h3>
    </div>
    <div class="profile-stat">
      <h1>Correct Answers</h1>
      <h3><%=  @total_correct%></h3>
    </div>
    <div class="profile-stat">
      <h1>Badges</h1>
      <h3><%=@badge %></h3>
    </div>
  </div>
</div>
