<div class="container">
  <div class="profile-game">
    <div class="avatar-div">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class:"avatar-profile" %>
      <% else %>
        <%= image_tag("https://res.cloudinary.com/dvvbk1j65/image/upload/v1679233516/download_riwhuo.png", class:"avatar-profile") %>
      <% end %>
    </div>
    <div class="triv-results">
      <h5>Today's Results</h5>
      <p><%= @score %>/10</p>
    </div>
  </div>
  <div class="profile-stats">
    <div class="profile-stat profile-stat-mb">
      <h1>Stats</h1>
    </div>
    <div class="pie-chart">
      <% incorrect = @total_a - @total_correct %>
      <%= pie_chart({"Correct Answers" => @total_correct,
  "Incorrect Answers" => incorrect }, colors: ["#112847", "#F0D8B2"]) %>
    </div>
    <div class="profile-stat profile-stat-mb">
      <h1>Questions Answered</h1>
      <h3><%= @total_a%></h3>
    </div>
    <div class="profile-stat profile-stat-mb">
      <h1>Correct Answers</h1>
      <h3><%=  @total_correct%></h3>
    </div>
    <div class="profile-stat">
      <h1>Badges</h1>
      <% @badges.each do |badge| %>
    <div class="flex-container"  >
 <%= image_tag(badge[:url], style: ' border: 2px solid #112847; border-radius: 50%;height:7vw;width:7vw;margin-bottom:20px;;margin-right:10px;;margin-left:30px')%><small><%=badge[:title]%></small>
      <% end %>
       </div>
       </div>
  </div>
</div>
