<div class="container">
  <div class="profile-game">
    <div class="avatar-div">
      <%= image_tag "https://w7.pngwing.com/pngs/170/977/png-transparent-donald-duck-internet-meme-know-your-meme-donald-duck-white-face-heroes-thumbnail.png", class:"avatar-profile" %>
    </div>
    <div class="triv-results">
      <h5>Trivia Results</h5>
      <p><%= @score %>/10</p>
    </div>
  </div>

  <div class="profile-stats">
    <div class="profile-stat profile-stat-mb">
      <h1>Stats</h1>
    </div>
    <div class="profile-stat profile-stat-mb">
      <h1>Questions Answered</h1>
      <h3><%= @total_a%></h3>
    </div>
    <div class="profile-stat profile-stat-mb">
      <h1>Correct Answers</h1>
      <h3><%=  @total_correct%></h3>
    </div>
    <div class="profile-stat">
      <h1>Badges</h1>
      <h3><%=@badge %></h3>
    </div>
  </div>
</div>
