<div class="main-card">
  <h1>Results For Today</h1>
</div>
<% @questions.each_with_index do |q, i| %>
  <div class="main-card">
    <div class="secondary-card">
      <p><%= i + 1 %></p>
      <p> <%= q.prompt %></p>
    </div>
    <div class="tertiary-card">
      <% if current_user.user_choices.where(choice_id: Choice.where(id: q.correct_choice.id) ).empty?  %>
        <p>❌<%= q.user_choices.where(user_id: current_user.id).first.choice.content %></p>
        <br>
        <p>The correct answer was</p>
        <p><%= q.correct_choice.content %></p>
      <% else %>
        <p>✅ <%= q.correct_choice.content %></p>
      <% end %>
    </div>
    <div class="tertiary-card" data-controller="result" data-action="click->result#toggle">
      <p data-result-target="button">Friends</p>
      <div class="d-none d-flex flex-column" data-result-target="list">
        <% @friends.each do |friend| %>
          <div class="d-flex text-start m-2 align-items-center">
            <% if friend.photo.attached? %>
              <%= cl_image_tag friend.photo.key, :gravity=>"auto", :crop=>"fill", class:"avatar-leaderboard" %>
            <% else %>
              <%= image_tag("https://res.cloudinary.com/dvvbk1j65/image/upload/v1679837891/download_itt7fw.png", class:"avatar-leaderboard") %>
            <% end %>
            <p class="mx-3"><%= friend.username %></p>
            <%=  friend.user_choices.where(choice_id: Choice.where(id: q.correct_choice.id) ).empty? ? "❌" : "✅ " %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<br>
<div class="main-card d-flex justify-content-between">
  <%= link_to "Home", root_path(@current_user), class: "return-btn" %>
  <%= link_to "Profile", user_path(current_user), class: "profile-return-btn" %>
</div>
