<div class="main-card">
  <h1>Results For Today</h1>
</div>
<% @questions.each_with_index do |q, i| %>
  <div class="main-card">
    <div class="secondary-card">
      <p><%= i + 1 %></p>
      <p> <%= q.prompt %></p>
    </div>
    <div class="tertiary-card">
      <% if current_user.user_choices.where(choice_id: Choice.where(id: q.correct_choice.id) ).empty?  %>
        <p>❌<%= q.user_choices.where(user_id: current_user.id).first.choice.content %></p>
        <br>
        <p>The correct answer was</p>
        <p><%= q.correct_choice.content %></p>
      <% else %>
        <p>✅ <%= q.correct_choice.content %></p>
      <% end %>
    </div>
  </div>
<% end %>
<br>
<div class="main-card d-flex justify-content-between">
  <%= link_to "Home", root_path(@current_user), class: "return-btn" %>
  <%= link_to "Profile", user_path(current_user), class: "profile-return-btn" %>
</div>
