<div class="cards-question">
  <div class="card-question">
  <%= @question.prompt %>
  </div>
  <% @choices.each do |choice| %>
  <div class="choice-ask-friend">
  <%= choice.content %>
  </div>
  <% end %>
  <br>
    <%= simple_form_for(@assist) do |f| %>
      <%= f.input :message ,
                  label_html: { class: 'd-none' },
                  input_html: { class: 'message-input' },
                  placeholder: 'Write your message here'%>
      <%= f.submit "Send message" %>
    <% end   %>
</div>
