<div class="d-flex justify-content-end">
  <%= simple_form_for current_user.setting do |f| %>
    <% new_mute = current_user.setting.mute ? false : true %>
    <%= f.hidden_field :mute, value: new_mute %>
    <%= f.button :submit, '', class: "mute-btn" %>
  <% end %>
  <i class="fa-solid fa-volume-xmark mute-icon <%= current_user.setting.mute ? "" : "d-none" %>"></i>
  <i class="fa-solid fa-volume-high mute-icon <%= current_user.setting.mute ? "d-none" : "" %>"></i>
</div>
