<div class="secondary-card greeting">
  <h1><%="Welcome #{current_user.username}"%></h1>
</div>
<div class="stats-board">
  <% if current_user.photo.attached? %>
    <%= cl_image_tag current_user.photo.key, :width=>"75", :height=>"75", :gravity=>"auto", :crop=>"fill", class:"avatar-main" %>
  <% else %>
    <%= image_tag("https://res.cloudinary.com/dvvbk1j65/image/upload/v1679837891/download_itt7fw.png", :width=>"75", :height=>"75", :gravity=>"auto", :crop=>"fill", class:"avatar-main") %>
  <% end %>
  <div class="stats">
    <div class="stat">
      <h3><i class="fa-solid fa-circle-question"></i></h3>
      <p><%= 10 - @answered %></p>
    </div>
    <div class="stat">
      <h3><i class="fa-solid fa-circle-check"></i></h3>
      <p><%= @score %>/10</p>
    </div>
    <div class="stat">
      <h3><i class="fa-solid fa-heart-pulse"></i></h3>
      <p><%= @lifeline_count %>/3</p>
    </div>
  </div>
  <% if current_user.next_question.nil? %>
    <div class="countdown-card">
      <%= render "countdown" %>
    </div>
  <% end %>
</div>
<div class="leaderboard-main">
  <h2>Leaderboard</h2>
</div>
<div data-controller="leaderboard">
  <div class="d-flex justify-content-between">
    <div class="leaderboard-secondary" data-leaderboard-target="todaybutton" data-action="click->leaderboard#today">
      <h4>Today</h4>
    </div>
    <div class="leaderboard-secondary" data-leaderboard-target="yesterdaybutton" data-action="click->leaderboard#yesterday">
      <h4>Yesterday</h4>
    </div>
  </div>
  <div data-leaderboard-target="yesterday" class="d-none">
    <%= render "yesterday_results", users: @users_yesterday %>
  </div>
  <div data-leaderboard-target="today">
    <%= render "leaderboard" %>
  </div>
</div>
<%= render "flashingbtn" %>
