<div class="container">
  <div class="greeting">
    <h1><%="Welcome #{current_user.username}"%></h1>
  </div>
  <div class="stats-board">
    <%= cl_image_tag current_user.photo.key, class:"avatar-main" %>
    <div class="stats">
      <div class="stat">
        <h3><i class="fa-solid fa-circle-check"></i></h3>
        <p><%= @answered %>/10</p>
      </div>
      <div class="stat">
        <h3><i class="fa-solid fa-trophy"></i></h3>
        <p><%= @score %>/10</p>
      </div>
      <div class="stat">
        <h3><i class="fa-solid fa-heart-pulse"></i></h3>
        <p><%= @lifeline_count %>/3</p>
      </div>
    </div>
  </div>
    <div class="leaderboard-main">
      <h2>Leaderboard</h2>
    </div>
  <div class="leaderboard">
    <% @users.each_with_index do |user, index| %>
      <div class="player-info-card">
        <%= index + 1 %>
        <%= cl_image_tag user.photo.key, class:"avatar-main" %>
        <p id= "player-name"><%= user.username %></p>
        <div class="player-score">
          <p><%= user.score %>/10</p>
        </div>
      </div>
    <% end %>
  </div>
  <% if !current_user.unanswered_questions.sample.nil? %>
    <div class="play-btn center-div">
      <%= link_to "PLAY", question_path(current_user.unanswered_questions.sample)%>
    </div>
  <% end %>
</div>
